@section Styles {
    <link rel="stylesheet" href="~/css/splashScreen.css" />
}

<div class="splashScreen">
   
         <div class="animationContainer">
            <div>
                 <h1 class="projectTitleSplash">Contract Managment System</h1>
            </div>
            <div id="anim">
                 
            </div>
        </div>
        <script src="~/js/SplashScreen.js" ></script>
    </div>